*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1, h2{
  color: lightgrey;
  text-align: center;
}
h1{
  font-size: 2.5em;
  margin-top: 20px;
}
h2{
  margin: 20px 0;
  font-weight: 100;
}
body{
  background: green;
}
table{
  text-align: left;
  width: 640px;
  margin: 30px auto;
  border-radius: 3px;
  background-color: #fff;
}
th{
  padding: 10px;
}
tr:nth-child(odd){
  background-color: lightgrey;
}
td{
  padding: 10px 15px ;
  color: darkgrey;
}