

*{
  font-family: fonts;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1, h2
  {color: #F5F7FA;
  text-align: center;
}
  
h1
  {font-size: 2.5em;
  margin-top: 20px;
}

h2
  {margin: 20px 0;
  font-weight: 100;
}

body
  {background: #A0D468;
  }
  
table
  {text-align: left;
  width: 640px;
  margin: 30px auto;
  border-radius: 3px;
  background-color: #fff;
}
    
  th
    {padding: 10px;
    }

  tr:nth-child(odd)
    {background-color: #F5F7FA;
    }
  td
    {padding: 10px 15px ;
    color: d#434A54;
  }

.amount
  {color: #DA4453;
  text-align: right;
}
    
#button
  {position: relative;
  top: 0;
  color: #F5F7FA;
  padding: 20px;
  text-align: center;
  line-height: 24px;
  width: 200px;
  background-color: #4FC1E9;
  border-radius: 3px;
  cursor: pointer;
  margin: auto;
  box-shadow: 0 3px #4A89DC;
  transition: 0.1s ease;
}
  
#form-box
  {width: 650px;
  margin: 30px auto;
  padding-left: 15px;
}

form
  {color: #fff;
  margin: auto;
}
  
  select, input
    {margin-bottom: 25px;
    color: d#434A54;
    padding: 10px;
    width: 200px;
    border-radius: 3px;
    border: 0;
  }
    
  div
   { display: inline-block;
    margin-right: 10px;
  }
    
  span
    {font-size: 1.3em;
    font-weight: 100;
    display: inline-block;
    width: 100px;
  }

#type
  {width: 50px;
  }
  
#date
  {width: 141px;
  }
  
#amount
  {width: 100px;
  }
    
#if-empty
  {text-align: center;
  }
    
.center
  {margin: auto;
  text-align: center;
}